@font-face {
  font-family: "Creato Display";
  src: url("/fonts/creato-display/CreatoDisplay-Regular.woff2") format("woff2"),
    url("/fonts/creato-display/CreatoDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Creato Display", sans-serif;
}
